
body{
    background-color: rgb(242, 242, 242) !important;
}


a {
    text-decoration: none;
    color: white;
}

.myLinks{
    color: black;
}

.myLinks:visited{
    color: black;
}

#Landing-wrapper{
    background-image: url("images/edittttt.png");
    background-size: 100% 100%;
    margin-top: 0px;
    height: 1000px;
}



#land-nav-wrapper{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: black;
}




#land-nav-logo{
    color: white;
}

#land-desc{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
}

.main-land-btn{
    font-family: 'Roboto', sans-serif;
    height: 70px;
    width: 180px;
    border-radius: 20px;
    color: white;
    background-color: black;
    border: 1px solid black;
}

.main-land-btn:hover{
   cursor: pointer;
}

#land-hash-wrapper{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.expand-more-wrapper{
    display: none;
}

#land-nav-item{
    color: white;
    text-decoration: none;
}

#land-nav-item:hover{
    color: #9E9E9E;
}

#landingLogo{
    font-family: 'Roboto', sans-serif;
    font-size: 200px;
    margin-bottom: 10px;
    color: black;
}

#about-us{
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
   font-family: 'Roboto', sans-serif;
   
}

#about-us-content h1{
    text-decoration: underline;
}

#customer-reviews{
    font-family: 'Roboto', sans-serif;
    margin-top: 300px;
    margin-bottom: 15px;
    margin-left: 100px;
    margin-right: 100px;
}

#customer-reviews-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

#customer-content{
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
}

#formated-review-pic{
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 150px;
    border: 1px solid black;
}

.land-get-started{
    margin-bottom: 60px;
    height: 70px;
    width: 180px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    background-color: white;
}

.land-get-started:hover{
    cursor: pointer;
}

@media only screen and (max-width: 895px){
    #land-nav-wrapper{
        justify-content: space-between;
    }
    #land-hash-wrapper{
        width: 350px; 
        margin-right: 20px;      
    }
    #land-nav-logo{
        margin-left: 20px;
    }

}

@media only screen and (max-width: 590px){
    #land-desc{
        font-size: 30px;
    }
}

@media only screen and (max-width: 550px){
    #land-hash-wrapper{
        display: none;
    }
    /*
    expand icon
    */
      .expand-more-wrapper{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          width: 36px;          
      }  
      .expand-more-wrapper:hover{
        cursor: pointer;        
    }  
          
}

@media only screen and (max-width: 540px){
    #land-desc{
        font-size: 28px;
    }
}

@media only screen and (max-width: 513px){
    #landing-content-wrapper{
        margin-top: 200px;
    }
    #landingLogo{
        font-family: 'Roboto', sans-serif;
        font-size: 150px;
        margin-bottom: 10px;
        color: black;
    }
    #about-us{        
        margin-top:550px;
        margin-bottom: 100px;               
    }
    #customer-reviews{
        margin-top: 200px;
        margin-bottom: 15px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 500px){
    #landingLogo{
        font-size: 130px;
    }
    #landing-content-wrapper{
        margin-top: 180px;
    }
    #about-us{        
        margin-top:420px;
        margin-bottom: 100px;    
        font-size: 14px; 
        margin-left: 30px;
        margin-right: 30px;          
    }
}